* {
    background-color: #b6bfd9;
    border-radius: 5px;
    font-family: 'Liberation Mono', sans-serif;
}
::-webkit-scrollbar {
    width: 5;
}

::-webkit-scrollbar-thumb {
    background: #395582;
}

#TCZList, #InfoList, #SelectVersion, #SearchType, hr , #InputSearchTerm{
    border: 1px solid;
}

#TCZList {
    width: 15vw;
    height: 100%;
}

#InfoList {
    white-space: break-spaces;
}

#InfoTable {
    max-width: 100%;
    white-space: nowrap;
    height: 100%;
}

#InfoList {
    display: none;
}
