* {
    background-color: #b6bfd9;
    border-radius: 5px;
    font-family: 'Liberation Mono', sans-serif;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#TCZList, #InfoList, #SelectVersion, #SearchType, hr {
    border: 1px solid;
}

#TCZList {
    width: 15vw;
    height: 100%;
}

#InfoList {
    white-space: break-spaces;
}

#InfoTable {
    max-width: 100%;
    white-space: nowrap;
    height: 100%;
}

#InfoList {
    display: none;
}
